/*
	방명록과 관련한 스타일
  작성자: jobtc(2021.04)	
*/
@charset "UTF-8";
#guestbook{
	margin-top:10px;
	padding-left:10px;
}
#guestbook form>textarea{
	width:100%;
	height:100px;
	
}
#guestbook .items{
	margin-top:6px;
	padding-top:10px;
	border-top : 2px solid #ccc;
	
}

#guestbook .repl{
	width:100%;
	height:80px;
	background : linear-gradient(to right, #cff, #eff);
}

#guestbook .item{
	margin-bottom:7px;
}

#guestbook .item>.btn_zone{
	text-align: right;
}





